<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Read the <a href="/colophon/">colophon</a/li>
          <li>Say <a href="mailto:{{ site.email }}">hi</a> to Katie</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
    <!--    <ul class="social-media-list">
          {% if site.github_username %}
          <li>  
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username">{{ site.github_username }}</span>
            </a>
<i class="fa fa-github"></i>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li> 
            <a href="https://twitter.com/{{ site.twitter_username }}">
             <span class="username">{{ site.twitter_username }}</span>
            </a>
<i class="fa fa-twitter "></i>
          </li>
          {% endif %}
        </ul> -->

<div class="col-lg-2 col-lg-offset-4">
          <a href="https://twitter.com/{{ site.author.twitter }}">
            <i class="fa fa-twitter"></i>
            <div>Follow me on Twitter.</div>
          </a>
        </div>
        <div class="col-lg-2 next">
          <a href="https://github.com/{{ site.author.github }}">
            <i class="fa fa-github-alt"></i>
            <div>
              See my github profile.
            </div>
          </a>
        </div>


      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>
</footer>
