<footer class="site-footer hidden-text">
  <div class="wrapper">

    

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-1">
        <h2 class="footer-heading"><a href="/about">Hello</a>from Melbourne</h2>
        <ul class="contact-list">
          <li>Read the <a href="/colophon/">colophon</a/li>
          <li>Say <a href="mailto:{{ site.email }}">hi</a> to Katie</li>
          <li><a href="https://twitter.com/{{ site.author.twitter }}">
            <i class="fa fa-twitter fa-2x"></i>
          </a><a href="https://github.com/{{ site.author.github }}">
            <i class="fa fa-github-alt fa-2x"></i>
           </a></li>
           <li><p class="text">{{ site.description }}</p></li>
        </ul>
      </div>
     


  </div>
</div>
</footer>
