<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">

      <div class="row">
        <div class="col-xs-4 col-sm-6">
          <a href="/about/me/as-a-kid/">
            <i class="fa fa-smile-o fa-4x"></i>
            <div>When I was a Kid</div>
          </a>
        </div>
        <div class="col-xs-4 col-sm-6">
          <a href="/about/me/as-an-adult/">
            <i class="fa fa-female fa-4x"></i>
            <div>As an Adult</div>
          </a>
        </div>
        <div class="col-xs-4 col-md-6">
          <a href="/about/me/katie-chris/">
            <i class="fa fa-heart-o fa-4x"></i>
            <div>Katie &amp; Chris</div>
          </a>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-4 col-md-6">
          <a href="http://katieball.me/zenlife/" target="_blank">
            <i class="fa fa-coffee fa-4x"></i>
            <div>
              Some Useful Words
            </div>
          </a>
        </div>
          
        <div class="col-xs-4 col-md-6">
          <a href="/loves/">
            <i class="fa fa-heart fa-4x"></i>
            <div>My Favorite Things</div>
          </a>
        </div>
          <div class="col-xs-4 col-md-6">
          <a href="/breathe/">
            <i class="fa fa-fire-extinguisher  fa-4x"></i>
            <div>Breathe, don't Explode</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
