<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-4">
          <a href="/life/as-a-kid.html">
            <i class="fa fa-child fa -4x"></i>
            <div>When I was a Kid.</div>
          </a>
        </div>
        <div class="col-lg-2 next">
          <a href="https://github.com/{{ site.author.github }}">
            <i class="fa fa-github fa -4x"></i>
            <div>
              See my github profile.
            </div>
          </a>
        </div>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-4">
          <a href="/life/as-a-kid.html">
            <i class="fa fa-child fa -x4"></i>
            <div>When I was a Kid.</div>
          </a>
        </div>
        <div class="col-lg-2 next">
          <a href="https://github.com/{{ site.author.github }}">
            <i class="fa fa-github fa -4x"></i>
            <div>
              See my github profile.
            </div>
          </a>
        </div>
      
      </div>
    </div>
  </section>
</div>

 
