<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-pages">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>

  <div class="collapse navbar-collapse navbar-pages">
    <ul class="nav navbar-nav navbar-right hidden-print thin">
      <li>
        <a class="hidden-xs" href="/notepad/"
        title="Tech blog">
        <i class="fa fa-book fa-lg"></i>
      </a>
      <a class="visible-xs" href="/notepad/"
      title="Tech blog">
      <i class="fa fa-book fa-lg"></i> Tech blog
    </a>
  </li>
  <li>
    <a class="hidden-xs" title=" About me" href="/about">
      <i class="fa fa-female fa-lg"></i>
    </a>
    <a class="visible-xs" title=" About me" href="/about">
      <i class="fa fa-female fa-lg"></i> About me
    </a>
  </li>
  <li>
    <a class="hidden-xs" href="/open-source/" title="Open Source">
      <i class="fa fa-flask fa-lg"></i>
    </a>
    <a class="visible-xs" href="/open-source/" title="Open Source">
      <i class="fa fa-flask fa-lg"></i> Open Source
    </a>
  </li>
   <li>
    <a class="hidden-xs" href="/games/" title="My Games">
      <i class="fa fa-gamepad fa-lg"></i>
    </a>
    <a class="visible-xs" href="/games/" title="My Games">
      <i class="fa fa-gamepad fa-lg"></i> My Games
    </a>
  </li>
   <li>
    <a class="hidden-xs" href="/atom.xml" title="Atom Feed">
      <i class="fa fa-rss fa-lg"></i>
    </a>
    <a class="visible-xs" href="/atom.xml" title="Atom Feed">
      <i class="fa fa-rss fa-lg"></i> something</a>
  </li>
   <li>
    <a class="hidden-xs" href="http://instagram.com/RoachHD" title="Instagram" target="_blank">
      <i class="fa fa-camera-retro fa-lg"></i>
    </a>
    <a class="visible-xs" href="http://instagram.com/RoachHD" title="Instagram" target="_blank">
      <i class="fa fa-camera-retro fa-lg"></i> Instagram
    </a>
  </li>

</ul>
</div>
</nav>
