/*
Title:		IE patches and fixes
*/

/* self-clear floats */

* html .group { /* IE6 */
	height: 1%;
}

*:first-child+html .group {	/* IE7 */
	min-height: 1%;	
} 

/* standard IE6 fixes */

/* add display:inline to floated elements */
* html div.header h1,
* html div.header img,
* html div.section ul.past li,
* html div.section div.interests,
* html div.section div.contact,
* html div.section div.interests ul li,
* html div.footer p,
* html div.footer p.design {display:inline;}
