<!DOCTYPE>
<html>
<head>
  <meta name="description" content="Turning Tumblr by Katie ball">
  <meta name="keywords" content="Turning Tumblr by Katie Ball">
  <meta property="og:url" content="http://roachhd.github.com/">
  <meta property="og:title" content="turning Tumblr by Katie ball">
  <meta property="og:image" content=
  "http://roachhd.github.com/turning-tumblr.png">
  <meta property="og:type" content="profile">
  <meta property="og:email" content="katie@roachhd.com">


  <title>You're Lost.</title>
  <style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Acme);html{background-attachment:fixed;background-size:cover;}body{font-family:'Acme','Acto';font-style:italic;padding:250px;font-size:14px;}.wrapper{width:380px;height:230px;margin:0 auto;background-color:white;}p{margin:0;}h1{font-size:22px;margin-top:5px}a{color:black;text-decoration: none;}ul{list-style-type: none;padding:0;}article{padding-left:40px;padding-top:65px;}#gif-card{height:230px;background:url(http://roachhd.github.com/card/img/the-bg.png) no-repeat;background-position:312px;box-shadow: 0px 0px 24px #000000;}
  </style>
  <script type="text/javascript" src=
  "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
  <script type="text/javascript" src=
  "http://mr-gif.com/api/read/json?num=50&amp;type=photo">
</script>
  <script type="text/javascript" src=
  "js/app.js">
</script>
  <script type="text/javascript">
$(function(){TumblrImager.init({json:tumblr_api_read,containerSelector:'html'});$("html").click(function(){$('.wrapper').fadeToggle();});});
  </script>
</head>


<body>
{% include navbar.html %}

  <a href="https://github.com/roachhd/turning-tumblr"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-green@2x.png" alt="Fork me on GitHub"></a>

<div class="wrapper">

 {{ content }}

{% include innerfooter.html %}
  {% include analytics.html %}
  </body>
</html>

